<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nursery Order System</title>

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- ================= HEADER / NAVBAR ================= -->
    <header class="header">
        <div class="logo">
            🌱 <strong>Nursery Order System</strong>
        </div>

        <nav class="nav">
            <a href="/">Home</a>
            <a href="/category">Nursery Category</a>
            <a href="/contact">Contact</a>

            {% if session.get('admin') %}
            <!-- Admin logged in -->
            <a href="/admin">Admin Panel</a>
            {% else %}
            <!-- Admin not logged in -->
            <a href="/admin-login">Admin Login</a>
            {% endif %}
        </nav>
    </header>

    <!-- MAIN CONTENT-->
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

</body>

</html>